.livros{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;

    
    background-color: rgb(56, 7, 7);
}

h2{
    margin: 0;
    color: rgb(0, 0, 0);
}

h1{
    margin: 0;
    color: black;
}

h3{
    margin: 0;
    color: black;
}

h4{
    margin: 0;
    color: black;
}

p{
    margin: 0;
    color: black;
    text-align: justify;
    width: 300px;
}