.footer{
    background-color: #1c1c1c;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    border-top: 1px solid #333333;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}